.font-medium {
  font-family:  sans-serif;
  font-weight: 500;
}

.font-regular {
  font-family: sans-serif;
  font-weight: 400;
}

.font-semi-bold {
  font-family:  sans-serif;
  font-weight: 600;
}

.font-bold {
  font-family: sans-serif;
  font-weight: 700;
}

.font-bold {
  font-family: sans-serif;
  font-weight: 700;
}
.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}
