@import "./variable";

//text-gray

.text-gray {
  color: $gray-color-10;
}
.text-blue{
  color:$blue-color;
}
// text-white
.text-red {
  color: $red-color;
}
.text-green{
  color:$green-color;
}

//text-white
.text-white {
  color: $white-color;
}

//text-black
.text-black-100 {
  color: $black-color-100;
}
.text-black-90 {
  color: $black-color-90;
}
