<button type="button" class="p-element p-ripple p-button-rounded p-button my-3" (click)="showBasicDialog()" icon="pi pi-external-link">add</button>
<p-table scrollHeight="400px" [resizableColumns]="true" styleClass="p-datatable-gridlines" responsiveLayout="scroll"
  [columns]="dataManager?.column" [value]="dataManager.data" responsiveLayout="scroll">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th class="text-center" *ngFor="let col of columns?.controls">
        <span class="font-size-12"> {{ col.name }}</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr *ngIf="rowData">
      <td class="text-center" *ngFor="let col of columns?.controls; let i = index">
        <span *ngIf="[
          'text',
          'password',
          'email',
          'number',
          'search',
          'tel',
          'url'
        ].includes(col.type)"> {{rowData[col.name]}}</span>

        <span *ngIf="col.type === 'date'"> {{rowData[col.name] | date: 'MM/dd/yyyy'}}</span>

      </td>

    </tr>
  </ng-template>
</p-table>



<p-dialog [header]="HeaderTitle" [(visible)]="displayBasic" [modal]="true" [style]="{width: '50vw',height:'35vw'}"
[draggable]="false" [resizable]="false">
  <app-json-form></app-json-form>

  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayBasic=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
