<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div *ngFor="let control of FormData?.controls" class="mb-3">

    <label *ngIf="control.label !== ''" class="font-semi-bold font-size-14 text-black-90 mx-3">{{ control.label
      }}</label>
    <input *ngIf="
          [
            'text',
            'password',
            'email',
            'number',
            'search',
            'tel',
            'url'
          ].includes(control.type)
        " [type]="control.type" [formControlName]="control.name" [value]="control.value" class="p-inputtext" />

    <ng-container [ngTemplateOutlet]="error" [ngTemplateOutletContext]="{item:form.controls[control.name]}">
    </ng-container>
    <textarea *ngIf="control.type === 'textarea'" [formControlName]="control.name" [value]="control.value"></textarea>
    <p-calendar *ngIf="control.type === 'date'" [formControlName]="control.name" dateFormat="dd.mm.yy"></p-calendar>

  </div>


  <button pButton type="submit" class="p-button-raised p-button-rounded">add</button>
</form>

<ng-template #error let-item="item">


  <div *ngIf="item.errors && item.touched">
    <app-error *ngIf="item.errors.required" [errorMessage]="'filed is required'"></app-error>
    <app-error *ngIf="item.errors.minlength"
      [errorMessage]="'Minimum'+'' +item.errors.minlength.requiredLength + ' ' +'characters required'"></app-error>
    <app-error *ngIf="item.errors.pattern" [errorMessage]="'invalid patern'"></app-error>
    <app-error *ngIf="item.errors.maxLength"
      [errorMessage]="'Maximum'+'' +item.errors.maxlength.requiredLength + ' ' +'characters required'"></app-error>
    <app-error *ngIf="item.errors.email" [errorMessage]="'invalid email address'"></app-error>
  </div>
</ng-template>
