@import url('../node_modules/primeng/resources/themes/lara-light-blue/theme.css');
@import url('../node_modules/primeicons/primeicons.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import "assets/scss/background.scss";
@import "assets/scss/border.scss";
@import "assets/scss/display.scss";
@import "assets/scss/type.scss";
@import "assets/scss/fonts.scss";
@import "assets/scss/spacing.scss";

ul,
ol {
  list-style: none;
}

.p-inputtext {

  &.ng-invalid {
    border-color: $red-color;
  }

}

.p-inputwrapper {
  &.ng-invalid {
    .p-inputtext {
      border-color: $red-color;
    }
  }
}


.p-datatable {
  .p-datatable-thead {
    tr {
      th {
        @extend .text-center;
      }
    }
  }

  .p-datatable-tbody {
    tr {
      td {
        @extend .text-center;
        @extend .py-2;
        @extend .px-2;
      }
    }
  }
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  border-radius: 10px;

  &.layout-static {
    .layout-menu-container {
      position: fixed;
      height: 100%;
      z-index: 1;
      background: $navy-blue-color;
      flex-direction: column;
      flex-shrink: 0;
      border-left: 0;
      transform: translateX(240px);
      visibility: hidden;
      transition: all 0.4s;
      transition: left 0.4s ease, width 0.4s ease;

      @media screen and (min-width: 992px) {
        width: 240px;
        display: flex;
        transform: none;
        z-index: 1;
        border-left-width: 1px;
        visibility: visible;
      }
    }

    .layout-main {
      transition: margin-left 0.3s ease;

      .main-sidebar_header {
        ul {
          li {
            a {
              @extend .justify-content-start;

              &.menu_item {
                .menu_item-icon {
                  @extend .font-size-18;
                  transition: all 0.4s ease-in-out;
                }

              }
            }
          }
        }
      }

      @media screen and (min-width: 992px) {
        padding-top: 63px;
        margin-left: 240px;
      }

      @media only screen and (min-width: 760px) {
        .layout-content {
          padding-left: 2%;
          padding-right: 2%;
        }
      }

      @media only screen and (max-width: 760px) {
        .layout-content {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
    }

    .layout-topbar {
      height: 60px;
      background-color: #fff;
      box-shadow: none;
      border-bottom: 1px solid #e8e8f7;
      z-index: 1;
      width: 100%;
      box-shadow: -7.829px 11.607px 20px 0 #e4e3f5;
      transition: left 0.4s ease, width 0.4s ease;

      @media screen and (min-width: 992px) {
        position: fixed;
        width: 100%;
        z-index: 1 !important;
        border-bottom: 1px solid #e1e6f1;
        box-shadow: -7.829px 11.607px 20px 0 rgba(144, 143, 160, 0.09);
        left: 0;
        padding-left: 240px;
        height: 65px;
      }
    }

    &.layout-static-inactive {
      .layout-topbar {
        padding-left: 80px;
      }

      .layout-menu-container {
        left: 0;
        width: 80px;
        display: block;

        .main-sidebar_header {
          ul {
            li {
              a {
                @extend .justify-content-center;

                &.menu_item {
                  .menu_item-icon {
                    @extend .font-size-20;
                  }

                  .menu_item-text {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }

      .layout-main {
        margin-left: 80px;
      }

      &.layout-sidebar-open {
        @media screen and (min-width: 768px) {
          .layout-menu-container {
            left: 0;
            width: 240px;
            transition: left 0.4s ease, width 0.4s ease;
          }
        }
      }
    }
  }
}
